@import "../utility/functions";

.header{
  padding-top: rem(72px);
  padding-bottom: rem(48px);
  padding-inline: rem(16px);
  &__box{
    width: 100%;
    max-width: rem(1400px);
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: rem(16px);
  }

  &__logo{

  }
}