@import 'variables'; //plik ze zmiennymi

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: $ident;
  align-items: $ident;
  align-content: $ident;
  min-height: 100vh;
}

div {
  border-radius: 5px;
  width: $size;
  height: $size;
  padding: 20px;
  margin: $margin;
  font-size: 35px;
  font-family: 'Patrick Hand', cursive;
  transition: 0.4s transform;
  color: #fff;
  display: flex;
  justify-content: $ident;
  align-items: $ident;
  text-shadow:
    0 0 2px $color,
    0 0 14px $color;

  &:hover {
    transform: scale(1.2) rotate(90deg);
  }
}

@for $i from 1 through 10 {
  div:nth-of-type(#{$i}) {
    background: rgba($color, 1 - 0.07 * $i);
  }
}
