%flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

%text{
  color: white;
  font-family: sans-serif;
}

.container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  @media screen and (min-width: 37.5rem){
    flex-direction: row;
    gap: 0;
  }
  .sidebar{
    background-color: #212124;
    width: 30%;
    @extend %flex-center;
    @extend %text;
    min-height: 50vh;

  }
  section{
    background-color: #005882;
    width: 70%;
    @extend %flex-center;
    @extend %text;
    min-height: 50vh;
  }
}